
:root {
  --accent-color: #cca670;
  --text-light: #f3f3f3;
  --text-medium: #bfbfbf;
  --text-dark: #808080;
  --background: #001202;
  --background-2: #1a1f1b;
  --background-3: #2b332c;
  --stroke: #404040;
  --text-dark-white: #1a1a1a;
  --text-medium-white: #666;
  --stroke-white: #d9d9d9;
  --background-light: #f3f3f3;
  --bg-element: #404040;
}